.login {
  @include bgbase;
  &__alert {
    padding: 1rem;
  }
  &__title {
    align-self: flex-start;
  }
  p {
    cursor: pointer;
  }
  &__form {
    width: clamp(350px, 70%, $break-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ipt,
    .btn {
      margin: 0.5rem;
    }
  }
}
