.recipe {
  background: white;
  padding: 1.5rem;
  margin: 1rem auto;
  max-width: $break-lg;
  border-radius: $radius1;
  border: $border2;
  box-shadow: $shadow-md;

  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(100px, 20%) 1fr;
  grid-template-rows: repeat(6fr);
  grid-template-areas:
    "a a"
    "b c"
    "b d"
    "b e"
    "b f"
    "h g";

  ul {
    list-style: circle;
    list-style-position: inside;
    margin-bottom: 1rem;
    li {
      padding: 0.2rem;
    }
  }
  &__name {
    grid-area: a;
    border-bottom: $border2;
    h1 {
      font-size: 2rem;
    }
  }
  &__ingredients {
    grid-area: b;
    border-right: $border2;
  }
  &__directions {
    grid-area: e;
  }
  &__info {
    grid-area: f;
    display: flex;
    justify-content: space-around;
    &__item {
      text-align: center;
    }
  }
  &__photo {
    grid-area: c;
    // max-width: 200px;
    max-height: 200px;
    width: 100%;
    // overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__tags {
    grid-area: d;
    span {
      background: $bg-highlight1;
      border-radius: $radius1;
      padding: 0.3rem;
      margin: 0.2rem;
      display: inline-block;
    }
  }
  &__author {
    grid-area: g;
    display: flex;
    align-items: center;
    &__name {
      flex: 1;
    }
    &__del,
    &__edit {
      padding: 1rem;
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &__add {
    grid-area: h;
    // align-self: center;
    justify-self: center;
    padding-right: 1rem;
  }
}
