$bg-light: #fafafa;
$bg-dark: #023430;
$bg-secondary: #31c51b;
$bg-highlight1: #eeeded;
$text1: #1e293b;
$text2: #f1fff9;
// $primary: #00ed64;
$secondary: #00684a;
$accent: #f79e1b;
$primary: #71e25a;

$success: #04c454;
$info: blue;
$warning: orange;
$danger: red;

$radius1: 0.375rem;
$radius2: 0.5rem;
$border1: 1px solid $secondary;
$border2: 1px solid #e8e8e8;
$gradient1: radial-gradient(
  circle at 18.7% 37.8%,
  rgb(250, 250, 250) 0%,
  rgb(225, 234, 238) 90%
);
$gradient2: linear-gradient(90deg, #e8e8e8, #f3f4f6);
$gradient3: radial-gradient(
  circle,
  rgba(4, 196, 84, 1) 0%,
  rgba(3, 182, 81, 1) 100%
);
$gradient4: linear-gradient(
  90deg,
  rgba(49, 197, 27, 1) 0%,
  rgba(4, 196, 84, 1) 100%
);

$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;

$form-bg: white;
$form-color2: #e8e8e8;
$form-color3: #cf2c2c;
$form-text1: black;
$form-text2: rgb(255, 255, 255);
$form-font-size: 1rem;
$form-line-height: 1.5;

$form-focus: $form-color3;
$form-arrow: $form-text1;
$form-border: 1px solid $form-color2;
$form-border-radius: $radius1;
$form-padding: 0.375rem 0.75rem;
$option-bg: $form-bg;

$shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
