@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@900");
@import url("https://fonts.googleapis.com/css2?family=Muli");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.btn {
  background-color: rgba(23, 26, 32, 0.8);
  border: none;
  margin-bottom: 1px;
  border-radius: 6px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  height: 36px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 6px;
  min-width: 185px;
  padding: 0 16px 0 16px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background-color: rgb(23, 26, 32);
  cursor: pointer;
}
.btn.btn--success {
  background-color: #04c454;
}
.btn.btn--success:hover {
  background-color: #04c454;
}
.btn.btn--info {
  background-color: blue;
}
.btn.btn--info:hover {
  background: blue;
}
.btn.btn--warning {
  background-color: orange;
}
.btn.btn--warning:hover {
  background: orange;
}
.btn.btn--danger {
  background-color: red;
}
.btn.btn--danger:hover {
  background: red;
}
.btn.btn--primary {
  background-color: #f79e1b;
  color: #1e293b;
}
.btn.btn--primary:hover {
  background: #f79e1b;
}

.ipt {
  border: 1px solid #e8e8e8;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  background-color: white;
  color: black;
  line-height: 1.5;
  font-weight: 400;
  display: block;
  width: 100%;
  transition: all 0.15s ease-in-out;
}

.ipt-forbtn {
  border-radius: 0.375rem 0 0 0.375rem;
  border-right: none;
}

.ipt-btn {
  width: 40px;
  /* height: 36px; */
  line-height: 1.5;
  border: 1px solid #e8e8e8;
  background: #e8e8e8;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 0 0.375rem 0.375rem 0;
  cursor: pointer;
  font-size: 20px;
}

.ipt-btn:hover {
  /* border: 1px solid $form-bg); */
  background: white;
}

.ipt-btn--transparent {
  background: white;
  color: black;
  border-left: none;
}

textarea::-moz-placeholder {
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

textarea::placeholder {
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.select {
  width: 100%;
  /* min-width: 15ch;
  max-width: 30ch; */
  border: 1px solid #e8e8e8;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  background-color: white;
  line-height: 1.5;
  cursor: pointer;
  /* background-image: linear-gradient(to top, #f9f9f9, #fff 33%); */
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}

/* arrow */
.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: black;
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select,
.select:after {
  grid-area: select;
}

select option {
  background: white;
  color: black;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid #cf2c2c;
  border-radius: inherit;
}

.select--disabled {
  cursor: not-allowed;
  background-color: #e8e8e8;
}

/*
  Hide the original radios and checkboxes
  (but still accessible)

  :not(#foo) > is a rule filter to block browsers
  that don't support that selector from
  applying rules they shouldn't

*/
li:not(#foo) > fieldset > div > span > input[type=radio],
li:not(#foo) > fieldset > div > span > input[type=checkbox] {
  /* Hide the input, but have it still be clickable */
  opacity: 0;
  float: left;
  width: 18px;
}

li:not(#foo) > fieldset > div > span > input[type=radio] + label,
li:not(#foo) > fieldset > div > span > input[type=checkbox] + label {
  margin: 0;
  clear: none;
  /* Left padding makes room for image */
  padding: 5px 0 4px 24px;
  /* Make look clickable because they are */
  cursor: pointer;
}

/* Change from unchecked to checked graphic */
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: "Select some files";
  display: inline-block;
  background: yellow;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #00684a; /* Blue */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
  margin: 5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  background: #00684a;
}

.navbar {
  margin: 0 auto;
  max-width: 910px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #f1fff9;
  font-weight: bold;
}

.navbar__list {
  flex: 1;
  height: 80px;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar__list__item {
  flex: 1 0 80px;
  display: inline;
  text-align: center;
  margin: 0.3rem;
}
.navbar__list__item a {
  color: #f1fff9;
  text-decoration: none;
}
.navbar__list__item a a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
  .navbar {
    background: blue;
  }
}
.hero {
  background: linear-gradient(90deg, rgb(49, 197, 27) 0%, rgb(4, 196, 84) 100%);
  padding-block: 5rem;
  font-family: "Catamaran", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.hero h1 {
  color: #1e293b;
  font-size: 2em;
  z-index: 1;
  text-decoration: none;
}
.hero h2 {
  color: #f1fff9;
  font-size: 2em;
  margin-top: -0.5em;
  margin-bottom: -0.6em;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}
.logo__icon {
  margin-right: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 0.375rem;
  background: white;
  color: #71e25a;
}
.logo__icon img {
  width: 60px;
}
.logo__text {
  color: #71e25a;
  font-family: "Catamaran", sans-serif;
  font-weight: 900;
  font-size: 4rem;
}

.addrecipe {
  background: white;
  padding: 1.5rem;
  margin: 1rem auto;
  max-width: 992px;
  border-radius: 0.375rem;
  border: 1px solid #e8e8e8;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addrecipe__title {
  align-self: flex-start;
}
.addrecipe__form {
  width: clamp(200px, 70%, 768px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addrecipe__form .ipt,
.addrecipe__form .btn {
  margin: 0.5rem;
}
.addrecipe__form__three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.addrecipe__form__three .ipt {
  margin-inline: 0;
}

.login {
  background: white;
  padding: 1.5rem;
  margin: 1rem auto;
  max-width: 992px;
  border-radius: 0.375rem;
  border: 1px solid #e8e8e8;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login__alert {
  padding: 1rem;
}
.login__title {
  align-self: flex-start;
}
.login__form {
  width: clamp(200px, 70%, 768px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login__form .ipt,
.login__form .btn {
  margin: 0.5rem;
}

.mymenu {
  background: white;
  padding: 1.5rem;
  margin: 1rem auto;
  max-width: 992px;
  border-radius: 0.375rem;
  border: 1px solid #e8e8e8;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mymenu__title {
  align-self: flex-start;
}

.recipe {
  background: white;
  padding: 1.5rem;
  margin: 1rem auto;
  max-width: 992px;
  border-radius: 0.375rem;
  border: 1px solid #e8e8e8;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(100px, 20%) 1fr;
  grid-template-rows: repeat(5fr);
  grid-template-areas: "a a" "b c" "b d" "b e" "b f";
}
.recipe ul {
  list-style: circle;
  list-style-position: inside;
  margin-bottom: 1rem;
}
.recipe ul li {
  padding: 0.2rem;
}
.recipe__name {
  grid-area: a;
  border-bottom: 1px solid #e8e8e8;
}
.recipe__name h1 {
  font-size: 2rem;
}
.recipe__ingredients {
  grid-area: b;
  border-right: 1px solid #e8e8e8;
}
.recipe__directions {
  grid-area: e;
}
.recipe__info {
  grid-area: f;
  display: flex;
  justify-content: space-around;
}
.recipe__info__item {
  text-align: center;
}
.recipe__photo {
  grid-area: c;
  max-height: 200px;
  width: 100%;
}
.recipe__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.recipe__tags {
  grid-area: d;
}
.recipe__tags span {
  background: #eeeded;
  border-radius: 0.375rem;
  padding: 0.3rem;
  margin: 0.2rem;
  display: inline-block;
}

.search {
  width: 200px;
  display: flex;
}

.tracker {
  background: white;
  padding: 1.5rem;
  margin: 1rem auto;
  max-width: 992px;
  border-radius: 0.375rem;
  border: 1px solid #e8e8e8;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tracker__title {
  align-self: flex-start;
}
.tracker .select {
  margin: 0.5rem;
}

.tracklist {
  width: 100%;
}
.tracklist__recent {
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tracklist__recent__day {
  width: clamp(300px, 70%, 768px);
  padding-bottom: 1rem;
}
.tracklist__recent__day__list__item {
  padding: 0.2rem;
  display: flex;
  justify-content: space-between;
}
.trackmeal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trackmeal__form {
  width: clamp(200px, 70%, 768px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trackmeal__form .ipt,
.trackmeal__form .btn {
  margin: 0.5rem;
}

.footer {
  background: #31c51b;
  color: #f1fff9;
  padding: 1rem;
}

.discover {
  background: white;
  padding: 1.5rem;
  margin: 1rem auto;
  max-width: 992px;
  border-radius: 0.375rem;
  border: 1px solid #e8e8e8;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.discover__title {
  align-self: flex-start;
}

.chart {
  display: flex;
  height: 250px;
  justify-content: center;
  border-radius: 0.5rem;
  overflow: hidden;
}
.chart__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart__section__cont {
  flex: 1;
  width: 80px;
  background: #eeeded;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.chart__section__cont__data {
  width: 20px;
  background: #f79e1b;
}

.recipelist {
  width: clamp(200px, 70%, 768px);
  display: flex;
  flex-direction: column;
}
.recipelist__item {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipelist__item__btn {
  cursor: pointer;
}
.recipelist__item__btn:hover {
  transform: scale(1.2);
}
.recipelist__item a, .recipelist__item a:hover, .recipelist__item a:visited, .recipelist__item a:active {
  text-decoration: none;
  color: #1e293b;
}

body {
  font-family: "Muli", sans-serif;
  color: #1e293b;
  background: linear-gradient(135deg, #e8e8e8, #f3f4f6);
}

h1 {
  font-size: 1.3rem;
  padding-bottom: 0.6rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-line: 4px;
  text-decoration-color: #f79e1b;
}

h2 {
  font-size: 1rem;
  padding-bottom: 0.4rem;
  font-weight: bold;
}

p {
  padding-bottom: 0.6rem;
}

.lbl {
  font-weight: bold;
  align-self: flex-start;
}/*# sourceMappingURL=style.css.map */